// Override variables and include Bootstrap
@use 'bootstrap/scss/bootstrap' with (
  $primary: rgb(25, 55, 176),
  $body-bg: rgb(243, 244, 253)
);

// Custom styles
.navbar-transparent {
  background-color: transparent !important;
}

.card-link {
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.card-link:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: bootstrap.$primary;
}
